@model IEnumerable<AdminPlayerServiceModel>

@{
    ViewData["Title"] = "Players Administration";
}

<h1>All Players</h1>

<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Role</th>
            <th scope="col">Division</th>
            <th scope="col">Years of Experience</th>
            <th scope="col">Approved</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var player in Model)
        {
            <tr>
                <td scope="col">@player.Id</td>
                <td scope="col">@player.Name</td>
                <td scope="col">@player.Role</td>
                <td scope="col">@player.Division</td>
                <td scope="col">@player.YearsOfExperience</td>
                <td scope="col">@(player.IsPublic ? "Yes" : "No")</td>
                <td scope="col">
                    <form asp-controller="Players"
                      asp-action="Delete"
                      asp-route-id="@player.Id"
                      method="post">
                    <a asp-area="" asp-controller="Players" asp-action="Details" asp-route-id="@player.Id" class="btn btn-primary float-right ml-3">View</a>
                    <a asp-area="Admin" asp-controller="Players" asp-action="ChangeVisibility" asp-route-id="@player.Id" class="btn btn-info float-right ml-3">@(player.IsPublic ? "Hide" : "Show")</a>
                    <a asp-area="" asp-controller="Players" asp-action="Edit" asp-route-id="@player.Id" class="btn btn-warning float-right ml-3">Edit</a>
                    <button asp-area="" asp-controller="Players" asp-action="Delete" asp-route-id="@player.Id" type="submit"  class="btn btn-danger float-right ml-3 id="delete-btn">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
